.App {
  text-align: center;
}


/*LOGO DE REACT*/
/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.meme span{
    position: absolute;
    margin-top: 60px;
    width: 100%;
    left: 0px;
    font-size: 38px;
    font-style:inherit;
    color: white;
    text-shadow: -1px -1px white, 2px 2px rgb(17, 16, 16);
}
.meme span:nth-child(3){
  margin-top: 350px;
}
.meme img{
  width: 550px;

}

body{
  background: black;
}